body {
    background: #FFFBF3;
  }
  
  .sidenav {
    height: 100%;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3672BCE5;
    opacity: 90%;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: 'McLaren';
  }
  
  .ct {
    color: #E7E7EA;
    text-align: center;
    font-family: McLaren;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }

  .wpaw {
    position: relative;
    right: 23px;
  }

  .sidenav a {
    padding: 6px 10px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #263b58;
    display: block;
  }
  
  .sidenav a:hover {
    color: #FFFBF3;
  }
  
  .main {
    margin-left: 290px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .cshead {
    color: #3672BC;
    text-align: right;
    display: block;
    position: relative;
    right: 34px;
    top: 12px;
    font-family: 'Orelega One';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
  }
  .phead {
    color: #3672BC;
    text-align: left;
    top: 12px;
    font-family: 'Orelega One';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    display: block;
    width: 290px;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
 h4 {
    color: #AD5E3E;
    text-align: center;
    font-family: 'Marmelad';
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 80px;
 }

  h5{
    color: #AD5E3E;
    font-family: 'Marmelad';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    width: 710px;
    height: 37px;
  }
  h6{
    color: #F5A463;
    font-family: 'Noto Sans Thai Looped';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .stt{
    position: relative;
    left: 18px;
  }
  .pfn{
    color: #AD5E3E;
    text-align: center;
    font-family: 'Marmelad';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    height: 60px;
  }
  .pfct{
    color: #F5A463;
    text-align: center;
    font-family: 'Marmelad';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .embweb{
    width: 800px;
    height: 530px;
  }

  .container {
    position: relative;
    width: 50%;
  }
  .mypic{
    justify-content: center;
    display: block;
    width: 606px;
    height: 443px;  
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 440px;
    width: 600px;
    opacity: 0;
    transition: .5s ease;
    background-color: #b0cae9 ;
  }
  .container:hover .overlay {
    opacity: 95;
  }
  .myvids{
    align-items: center;
  }
